<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student Registration</title>
  <link rel="stylesheet" href="C:\Users\mandv\PycharmProjects\AutomatedAttendace\ProcterAI\student_registration_system\script.js">
</head>
<body>
  <div class="container">
    <h1>Student Registration</h1>
    <form id="registrationForm" action="/" method="POST">

      <label for="studentName">Name:</label>
      <input type="text" id="studentName" name="studentName" required>

      <label for="studentID">Student ID:</label>
      <input type="text" id="studentID" name="studentID" required>

      <label for="password">Password:</label>
      <input type="text" id="password" name="password" required>


      <button id="saveButton" type="submit">Save Student</button>
    </form>



        <!-- Add this div for instructions -->
       <div id="instruction-box">
            <h2>Instructions:</h2>
            <ul>
                <li>Fill the details(your name, id and password) first.</li>
                <li>Click on 'Start Scan' button to start scanning your face.</li>
                <li>Keep your face in front of teh camera and sit in a well lit room.</li>
                <li>Press 's' to capture an image when your face is properly aligned.</li>
                <li>For every next picture, move your face slightly to the left and right for different angles.</li>
                <li>Make sure to capture 20 images in total for accurate recognition.</li>
                <li>Once done, click on 'Finish' button</li>
                <!-- Add more instructions as needed -->
            </ul>
       </div>

        <video id="video" width="640" height="480" autoplay></video>
        <button id="runTrainingButton">Run Training</button>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#runTrainingButton').click(function() {
                $.post('/run_training', function(data) {
                    alert(data); // Display a message when the script has executed
                });
            });
        });
        </script>
        <button id="finishScan">Finish</button>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script>
        $(document).ready(function() {
            $('#finishScan').click(function() {
                $.post('/finish', function(data) {
                    alert(data); // Display a message when the script has executed
                });
            });
        });
        </script>


  </div>

<script src="C:\Users\mandv\PycharmProjects\AutomatedAttendace\ProcterAI\student_registration_system\script.js"></script>
</body>
</html>
