<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup/login</title>
    <link rel="stylesheet" href="form.css"> <!-- Link to form.css in the same folder -->
    
</head>
<body>
    <!-- Animated Wave Background  -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- Log In Form Section -->
    <section>
        <div class="container" id="container">
            <div class="form-container">
                <form action="#">
                    <h1>TEACHER</h1>
                    <span>Click below to take attendance</span>
                    <br></br>
                    <a href="/teacher_login" class="button-link">Sign in</a>
                    
                </form>
            </div>
            <div class="form-container">
                <form action="#">
                    <h1>STUDENT</h1>
                    <span>Click below to register</span>
                    <br></br>
                    <a href="/student" class="button-link">Register</a>
                    
                </form>
            </div>
            <div class="form-container">
                <form action="#">
                    <h1>STUDENT</h1>
                    <span>Click below to login & View Attendance</span>
                    <br></br>
                    <a href="/login" class="button-link">Login</a>

                    
                </form>
            </div>
        </div>
    </section>
    <script src="form.js"></script> <!-- Link to form.js in the same folder -->
</body>
</html>
