<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher Login</title>
    <!-- Include an external CSS file named "form.css" -->
    <link rel="stylesheet" href="form.css">
</head>
<body>
    <!-- Animated Wave Background -->
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <!-- Log In Form Section -->
    <div class="container" id="container">
        <div class="form-container">
    <section>
        <form action="/teacher_login" method="post">
            <input type="text" name="username" placeholder="Username" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <button type="submit" class="button-link">Login</button>
        </form>
    </section>
    </div></div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flash">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</body>
</html>
